@import url("https://fonts.googleapis.com/css?family=Open+Sans|Quando");
/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #170F11;
  color: #011936;
}

.header {
  width: 100%;
  background-color: rgba(251, 245, 243, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.3em 0;
  font-family: "Quando", serif;
  font-size: 3rem;
}

.header-time {
  margin-left: 1em;
  text-align: center;
  width: 5em;
}

.news-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  max-width: 1366px;
  margin: 0 auto;
}

.news-container::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #FBF5F3;
  top: 0;
  bottom: 0;
  left: 75%;
  margin-left: -3px;
}

.news {
  position: relative;
  background-color: #FBF5F3;
  padding: 1.5em;
  width: 70%;
  border-radius: 0.5em;
  margin-top: 2em;
}

.news::after {
  content: '';
  position: absolute;
  width: 2.7em;
  height: 2.7em;
  top: 1em;
  right: -5.6em;
  background: url("regular.png");
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1;
}

.news::before {
  content: '';
  height: 0;
  position: absolute;
  top: 0.3em;
  width: 0;
  z-index: 1;
  right: -1em;
  border: medium solid white;
  border-width: 2em 0 2em 2em;
  border-color: transparent transparent transparent #FBF5F3;
}

.news_important {
  background-color: #931621;
  color: #FBF5F3;
}

.news_important::before {
  border-color: transparent transparent transparent #931621;
}

.news_important::after {
  background: url("warning.png");
  background-size: 100%;
}

.news-publicdate {
  position: absolute;
  top: 1.8em;
  left: calc(100% + 7.5em);
  font-family: "Quando", serif;
  color: #FBF5F3;
  white-space: nowrap;
}

.news-header {
  font-size: 1.8rem;
  font-family: "Quando", serif;
}

.news-message {
  padding-top: 0.7em;
  line-height: 1.3;
  font-size: 1.1rem;
}
/*# sourceMappingURL=main.css.map */