@import url('https://fonts.googleapis.com/css?family=Open+Sans|Quando');

@import "reset";

$font-primary: 'Quando', serif;
$font-secondary: 'Open Sans', sans-serif;

$font-base-size: 16px;

$text-color: #011936;
$news-color: #FBF5F3;
$bg-color: #465362;
$bg-color: #170F11;
$accent-color: #FF6F59;
$positive-color: #43AA8B;
$important-color: #931621;

html {
    font-size: $font-base-size;
    font-family: $font-secondary;
}

body {
    background-color: $bg-color;
    color: $text-color;
}

.header {
    width: 100%;
    background-color: rgba($news-color, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3em 0;
    font-family: $font-primary;
    font-size: 3rem;
}

.header-title {
}

.header-time {
    margin-left: 1em;
    text-align: center;
    width: 5em;
}

.news-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1366px;
    margin: 0 auto;

    &::after {
        content: '';
        position: absolute;
        width: 6px;
        background-color: $news-color;
        top: 0;
        bottom: 0;
        left: 75%;
        margin-left: -3px;
    }
}


.news {
    position: relative;
    background-color: $news-color;
    padding: 1.5em;    
    width: 70%;
    border-radius: 0.5em;
    margin-top: 2em;

    &::after {
        content: '';
        position: absolute;
        width: 2.7em;
        height: 2.7em;
        top: 1em;
        right: -5.6em;

        background: url("regular.png");
        background-size: 100%;
        background-repeat: no-repeat;
        z-index: 1;
    }

    &::before {
        content: '';
        height: 0;
        position: absolute;
        top: 0.3em;
        width: 0;
        z-index: 1;
        right: -1em;
        border: medium solid white;
        border-width: 2em 0 2em 2em;
        border-color: transparent transparent transparent $news-color;
    }
}

.news_important {
    background-color: $important-color;
    color: $news-color;

    &::before {
        border-color: transparent transparent transparent $important-color;
    }

    &::after {
        background: url("warning.png");
        background-size: 100%;
    }
}

.news-publicdate {
    position: absolute;
    top: 1.8em;
    left: calc(100% + 7.5em);
    font-family: $font-primary;
    color: $news-color;
    white-space: nowrap;
}

.news-header {
    font-size: 1.8rem;
    font-family: $font-primary;
}

.news-message {
    padding-top: 0.7em;
    line-height: 1.3;
    font-size: 1.1rem;
}
