<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>{{ msg }}</h1>


{% for i in news %}
    {{ i.title }} <br>
{% endfor %}

</body>
</html>