{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'main.css'   %}">
    <title>News app</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="header-title">Ogłoszenia</div>
            <div class="header-time"></div>
        </div>
        <div class="news-container">
            <div class="news">
                <div class="news-publicdate">17 / 11 / 2018 &nbsp;&nbsp; 16:30</div>
                <div class="news-header">Pierwszy news w tej aplikacji</div>
                <div class="news-message">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate et quaerat a incidunt placeat officia modi. Enim commodi eius et ipsum incidunt iste iusto laboriosam, dolorum cupiditate, perferendis fugiat magnam.</div>
            </div>
        </div>
        <div class="news-container">
            <div class="news news_important">
                <div class="news-publicdate">16 / 11 / 2018 &nbsp;&nbsp; 17:45</div>
                <div class="news-header">Bardzo istotny news</div>
                <div class="news-message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio corporis, consectetur reprehenderit vel rerum dolorem. Eveniet nulla porro placeat asperiores esse, natus fugit, delectus exercitationem nostrum ducimus fuga ullam sint!</div>
            </div>
        </div>
        <div class="news-container">
            <div class="news">
                <div class="news-publicdate">16 / 11 / 2018 &nbsp;&nbsp; 08:15</div>
                <div class="news-header">Ogłoszenia parafialne</div>
                <div class="news-message">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque commodi veniam facilis, fuga voluptatum facere cumque velit perspiciatis porro laudantium. Expedita error corrupti veniam minima voluptatem sint enim est et? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem nesciunt quis soluta excepturi iusto consectetur architecto numquam placeat, quas nemo officiis omnis suscipit itaque? Similique ratione amet dicta nemo dolorum.</div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="{% static main.js%}/"></script>
</body>
</html>